/*-------------- social -----------------*/
.social{
	display: inline-flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 12px;

	&__item{
		display: inline-flex;
		align-items: center;
		justify-content: center;
		flex-shrink: none;
		width: 48px;
		height: 48px;
		border-radius: 12px;
		background: #ECF1F7;
		color: var(--color-primary);
		transition: box-shadow ease-out 0.4s;
	}

	&__item_wh{color: #2BA467;}
	&__item_youtube{color: #E01E4F;}
	&__item_vk{color: #2F7BBE;}

	&__item:hover{
		box-shadow: inset 0 -100px 0 0 var(--color-primary);
		color: #fff;
	}

	&_white &__item{background: #fff;}
}