/*-------------- steps -----------------*/
.steps{
	display: flex;
	background: var(--color-primary);
	border-radius: 16px;
	overflow: hidden;
	color: #fff;

	&__head{
		width: 28.5%;
		padding: 30px 30px 23px;
	}

	&__list{
		display: flex;
		flex-wrap: wrap;
		gap: 1px;
	}

	&__icon{
		color: #fff;
		margin-bottom: 20px;
	}

	&__title{
		font-size: 2.8rem;
		font-weight: bold;
		line-height: 1.13;
		letter-spacing: 0.8%;
	}

	&__item{
		width: 33%;
		background: rgba(255,255,255,0.1);
		padding: 30px 30px 23px;
	}

	&__text{
		font-size: 1.9rem;
		letter-spacing: 0.4%;
	}

	&__num{
		font-size: 4.5rem;
		font-weight: bold;
		line-height: 1;
		color: #fff;
		letter-spacing: 0.4%;
		margin-top: 30px;
		opacity: 0.1;
	}
}

@media (max-width: 991px) {
	.steps{
		display: block;
		&__head{width: 100%;}
	}
}

@media (max-width: 767px) {
	.steps{
		&__icon{
			.ic-help-circle{
				width: 28px;
				height: 28px;
			}
		}

		&__list{
			flex-direction: column;
			padding-left: 24px;
		}

		&__head{padding: 24px;}

		&__item{
			display: flex;
			align-items: center;
			justify-content: space-between;
			gap: 20px;
			width: auto;
			padding: 18px 21px 20px;
		}

		&__item:first-child{border-radius: 16px 0 0 0;}

		&__title{font-size: 2.3rem;}
		&__text{font-size: 1.7rem;}

		&__num{
			font-size: 3rem;
			margin: 0;
		}
	}
}