/*-------------- video-card -----------------*/
.video-card{
	display: flex;
	align-items: flex-end;
	border-radius: 16px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	padding: 20px;
	overflow: hidden;
	position: relative;
	text-decoration: none;

	&::before{
		content: '';
		display: block;
		width: 100%;
		height: 100%;
		background: rgba(17, 30, 53, 0.5);
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
	}

	&__content{
		display: flex;
		align-items: flex-start;
		gap: 15px;
		padding: 17px 17px 17px 22px;
		border-radius: 16px;
		background: rgba(255, 255, 255, 0.9);
		transition: transform 0.3s ease;
		position: relative;
		z-index: 2;
	}

	&__icon{
		display: flex;
		align-items: center;
		justify-content: center;
		flex-shrink: 0;
		width: 54px;
		height: 54px;
		border-radius: 50%;
		background: var(--color-primary);
		margin-top: 5px;
		transition: all 0.2s ease;

		.icon{color: #fff;}
	}

	&__title{
		font-size: 1.8rem;
		font-weight: 600;
		line-height: 1.24;
		color: var(--color-primary);
		letter-spacing: 0.4%;
	}

	&__text{
		font-size: 1.5rem;
		line-height: 1.24;
		color: var(--color-dark);
	}

	&:hover &__content{transform: scale(0.95);}
}