/*-------------- video -----------------*/
.video-wrap{
	h2, .h2{text-align: left;}
	.social{flex-wrap: nowrap;}
	&__top{margin-bottom: 22px;}
}

.video-slider-wrap{
	&__bottom{
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 24px;
		margin-top: 24px;
	}

	&__note{
		display: inline-flex;
		align-items: center;
		gap: 12px;
		font-size: 1.9rem;
		color: #888E98;
		letter-spacing: 0.4%;
	}
}

.video-slider{
	&__item{
		border: 1px solid #C5D4E6;
		border-radius: 16px;
		overflow: hidden;
		position: relative;
	}

	&__img{
		display: block;
		padding-bottom: 174%;
		position: relative;

		&::before{
			content: '';
			display: block;
			width: 100%;
			height: 100%;
			background: rgba(17, 30, 53, 0.5);
			position: absolute;
			top: 0;
			left: 0;
			z-index: 1;
		}

		img{
			width: 100%;
			height: 100%;
			object-fit: cover;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}

	&__play{
		display: inline-flex;
		align-items: center;
		justify-content: center;
		width: 54px;
		height: 54px;
		border-radius: 50%;
		background: #fff;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		transition: transform 0.2s ease;
		z-index: 2;

		.icon{color: var(--color-primary);}
	}

	&__img:hover &__play{transform: translate(-50%, -50%) scale(1.05);}

	&__title{
		width: calc(100% - 32px);
		background: #fff;
		border-radius: 8px;
		padding: 16px 35px;
		font-size: 1.7rem;
		font-weight: 600;
		line-height: 1.3;
		color: var(--color-primary);
		text-align: center;
		position: absolute;
		left: 16px;
		bottom: 16px;
		z-index: 2;
	}
}

@media (max-width: 1279px) {
	.video-wrap{
		.social{flex-wrap: wrap;}
	}

	
	.video-slider-wrap{
		&__note{font-size: 1.7rem;}
	}

	.video-slider{
		&__title{
			padding: 16px;
			font-size: 1.5rem;
		}
	}
}

@media (max-width: 991px) {
	.video-wrap{
		.social{flex-shrink: 0;}
	}
}

@media (max-width: 767px) {
	.video-wrap{
		h2, .h2{text-align: center;}
	}
	
	.video-slider{
		&__img{padding-bottom: 144%;}

		&__title{
			padding: 12px;
			font-size: 1.6rem;
		}
	}

	.video-slider-wrap{
		&__bottom{margin-top: 8px;}

		&__note{
			font-size: 1.5rem;
			text-align: center;
		}
	}
}