:root{
	--font-site: 'Golos Text', Arial, sans-serif;

	--color-primary: #2F7BBE;
	--color-primary-hover: #4d8dc5;
	--color-second: #FF9E3D;
	--color-second-hover: #d7710a;
	--color-dark: #111E35;
	
	--color-text: #555A63;
	--color-link: var(--color-primary);

	--color-danger: #E01E1E;
	--default-indent: 100px;
}

html,
body{
	background: #fff;
	font-family: var(--font-site);
	@include font(normal, normal, 10px, 1.34, var(--color-text));
	box-sizing: border-box;
}

body{font-size: 1.9rem;}

img{max-width: 100%;}

a{
	color: var(--color-link);
	transition: color 0.2s ease 0s;
}

a:hover{
	color: var(--color-text);
	text-decoration: none;
}

p{
	padding: 0;
	margin-bottom: 2rem;
}

h1,.h1,
h2,.h2,
h3,.h3,
h4,.h4,
h5,.h5
{
	line-height: 1.1;
	color: var(--color-dark);
}

h1,.h1{
	font-size: 4.8rem;
	font-weight: bold;
	margin-bottom: 3.5rem;
}

h2,.h2{
	font-size: 4.5rem;
	margin-bottom: 3.5rem;
	// font-size: 3.1rem;
	// margin-bottom: 5rem;
}

h3,.h3{
	font-size: 2.8rem;
	margin-bottom: 5rem;
}

h4,.h4{
	font-size: 2.4rem;
	margin-bottom: 5rem;
}

h5,.h5{
	font-size: 2.1rem;
	margin-bottom: 5rem;
}

h6,.h6{
	font-size: 1.9rem;
	margin-bottom: 2rem;
}

.wrapper{
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
}

main{
	flex: 1 1 auto;
	padding-bottom: 100px;
	width: 100%;
}

.last-elem{margin-bottom: -100px;}

.btn,
input[type="submit"].btn,
button.btn{
	display: inline-flex;
	align-items: center;
	justify-content: center;
	gap: 15px;
	height: 6.6rem;
	background: var(--color-second);
	border: none;
	border-radius: 8px;
	@include font(normal, 600, 2rem, 1, #fff);
	letter-spacing: 0;
	text-decoration: none;
	text-align: center;
	padding: 0 43px;
	cursor: pointer;
	transition: box-shadow ease-out 0.4s;

	.icon{
		flex-shrink: 0;
		fill: #fff;
	}

	&:hover{
		box-shadow: inset 0 -100px 0 0 var(--color-second-hover);
		color: #fff;
	}
}

.m-indent{
	margin-top: var(--default-indent);
	margin-bottom: var(--default-indent);
}

.mt-indent{margin-top: var(--default-indent);}
.mb-indent{margin-bottom: var(--default-indent);}

.p-indent{
	padding-top: var(--default-indent);
	padding-bottom: var(--default-indent);
}

.pt-indent{padding-top: var(--default-indent);}
.pb-indent{padding-bottom: var(--default-indent);}

.container{
	padding-left: 40px;
	padding-right: 40px;
}

.code{
	background-color: #f7f7f7;
	border: 1px solid #e1e1e8;
	color: #d14;
	padding: 1px 4px;
	display: inline-block;
	font-family: monospace, arial;
	border-radius: 3px;
}

.text-left{text-align: left !important;}
.text-center{text-align: center !important;}
.text-right{text-align: right !important;}
.text-justify{text-align: justify !important;}
.text-uppercase{text-transform: uppercase !important;}
.text-bold{font-weight: 700 !important;}
.text-color{color: var(--color-primary) !important;}