footer.footer
	.container
		.row
			.col-md-5
				.footer__logo
					a(href="/")
						img(src="/upload/logo.svg", alt="")
				
				.footer-contacts-wrap
					.footer-contacts
						.footer-contacts__icon.footer-contacts__icon_dark
							+svg('ic-call','ic-call', '26', '27')

						.footer-contacts__content
							.footer-contacts__text
								a(href="tel:+78412981888").footer-contacts__phone +7 (8412) 98-18-88

							.footer-contacts__label работаем пн-пт с 8:00 до 17:00

					.social.social_white
						a(href="https://t.me/vechtruba_manager", target="_blank").social__item.social__item_tg
							+svg('ic-telegram','ic-telegram', '17', '16')

						a(href="https://wa.me/79374401621", target="_blank").social__item.social__item_wh
							+svg('ic-whatsapp','ic-whatsapp', '19', '20')

				.footer-contacts
					.footer-contacts__icon
						+svg('ic-map-pin','ic-map-pin', '16', '20')

					.footer-contacts__content
						.footer-contacts__text г. Пенза, улица Калинина, 133
						.footer-contacts__label адрес офиса
				

			.col-md-7
				.footer__links
					ul.footer-menu
						-
							var list=[
								{link:'main-projects', text:'Что входит в проект'},
								{link:'type-project', text:'Тип проекта'},
								{link:'modular-boiler', text:'Модульная котельная'},
								{link:'our-projects', text:'Наши проекты'},
								{link:'reviews', text:'Отзывы'},
								{link:'video', text:'Наш видеоблог'},
								{link:'contacts', text:'Контакты'},
							]
						each item in list
							li.footer-menu__item
								a(href="#").footer-menu__link= item.text

					.footer-links
						.footer-links__item
							a(href="#") Соглашение на обработку данных

						.footer-links__item
							a(href="#") Политика конфиденциальности

#msg-success(style='display: none;')
	.success-alert.js-success-alert
		.success-alert__icon
			+svg('ic-tick-circle','ic-tick-circle', '50', '50')

		.success-alert__title.js-success-alert-title Ваше сообщение отправлено!
		.success-alert__text.js-success-alert-text В ближайшее время с вами свяжется наш менеджер.

.move-up.js-move-up
	+svg('ic-arrow-up','ic-arrow-up', '20', '12')